<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

SetEnv RECAPTCHA_SECRET_KEY 6Lfvg2EUAAAAAJU3gsQsoww5x0uaHXuRDTFPYJhv